<!doctype html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" th:replace="user/UserBase::layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>

<body>
	<section>

		<table class="table table-striped">
			<tbody>
				<tr>
					<td colspan="2" style="background: url('/images/tech background.jpeg') ;"> <center><img src=""th:src="@{'/images/'+${contact.img}}" style="width: 20%; height: 20%;"/></center></td>
				</tr>
				<tr>
					<td>Name</td>
					<td th:text="${contact.name}"></td>
				</tr>
				<tr>
					<td>Email</td>
					<td th:text="${contact.contactEmail}"></td>
				</tr>
				<tr>
					<td>Description</td>
					<td th:text="${contact.description}"></td>
				</tr>
				<tr>
					<td>Number</td>
					<td th:text="${contact.number}"></td>
				</tr>
				<tr>
					<td>Nickname</td>
					<td th:text="${contact.nickname}"></td>
				</tr>
				<tr>
					<td>Work</td>
					<td th:text="${contact.work}"></td>
				</tr>
			</tbody>
		</table>



	</section>

</body>

</html>