<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" th:replace="user/UserBase::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- =============================== Style Sheet ===================================== -->
    <title ></title>
</head>
<body>
    
    
    
    
    
   

   <section id="dashboard-section">
	   
	   <center><img src="" th:src="@{'/images/'+${user.userImg}}" /></center>
	   <center><h3 style="margin-top: 1rem;margin-bottom: 1rem;">Welcome <span th:text="${user.userName}"></span></h3></center>
	   <center><h3>Start Adding your contacts on cloud...</h3></center>
	   <form action="" th:action="@{/user/AddContactForm}">
		   <button type="submit">ADD NEW CONTACT</button>
	   </form>
	   <!--<a href="" th:href="">Add New Contact</a>-->
	   
	   
	   
	   
	  <script> 
		  
		  $(document).ready(()=>{
			 $('.active-links').removeClass('active');
			 $('#dashboard-link').addClass('active'); 
		  });
		  
		  
	  </script>
	  
   	 <!--<h1 class="username" th:text="${user.userName}"></h1>-->
   </section>


















</body>
</html>