#dashboard-section{
	width: 95%;
	height: 87vh;
	border-radius: .5rem;
	overflow-y: hidden;
}


#dashboard-section img{
	margin-top: 3rem;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 5px solid #66FCF1;
}


#dashboard-section h3{
	color: burlywood;
}


#dashboard-section form button{
	
	width:90%;
	display: block;
	margin: 0 auto;
	margin-top: 2rem;
	color: #66FCF1;
	text-decoration: none;
	background-color: #4E4E50;
	padding: .4rem;
	border-radius: 2rem;
}

